
h5 {
    text-align: center;  
}

#searchBtn {
    background-color: #008CBA; /* blue */
    border: none;
    color: white;
}

.currentWeather {
    border-style: solid;
    border-color: lightgray;
    font-size: large;
    border-width: 1px;
}

img {
    width: 200;
    height: 200;
}

.listSearchedCities {
    text-align: center;
}

.pastSearches {
    background-color: lightgrey;
}

.fiveDayForecast {
    padding-left: 75px;
}