
h5 {
    text-align: center;  
}

#searchBtn {
    background-color: #008CBA; /* blue */
    border: none;
    color: white;
    padding: 8px 111px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.currentWeather {
    border-style: solid;
    border-color: lightgray;
    font-size: large;
}

img {
    width: 200;
    height: 200;
}

.listSearchedCities {
    text-align: center;
}

.pastSearches {
    background-color: lightgrey;
}